# Rust
.cargo/
target
report.xml

# Output
output
database.kz
kuzu_db

# TypeScript test files
test-bindings/

# Node.js
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log

# MacOS
.DS_Store

# Compiled libraries
lib/

# IDEs
.idea/

# Kuzu
db.kuzu